body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    display: flex;
    align-items: center;
    background-color: #5e6cff;
    color: white;
    margin: 0;
}

.logo{
    margin-right: auto;
    margin-left: 70px;
    font-family: cursive;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 14px;
    font-size: 18px;
    font-weight: 400;
    flex: 1;
    flex-wrap: wrap;
}

.links{
    margin-right: 80px;
}

.banner{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background:  linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url('./images/banner-guitar.jpg');
    background-size: cover;
    height: 500px;
}

.banner h1{
    margin: 0px;
    font-size: 48px;
    font-weight: 900;
}

.banner-text{
    /* max-width: 40%; */
}

.banner-text p{
    font-size: 16px;
}

button{
    background-color: #5e6cff;
    color: white;
    padding: 14px;
    width: 120px;
    border: #3882F6;
    border-radius: 4px;
    transition: transform 0.2s ease;
}

button:hover{
    box-shadow: 4px 4px 4px #1F2937;
    transform: translateY(-4px);
}
.category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #737bd1;
}

.categ-cards{
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    padding: 16px;
    flex-wrap: wrap;
}

.card{
    width: auto;
    text-align: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    font-weight: 200;
    border-radius: 8px; 
    transition: transform 0.2s ease;
}

.card-img{
    border-radius: 8px; 
    width: 240px;
    height: 240px;    
}

.card:hover{
    box-shadow: 8px 8px 8px #1F2937;
    transform: scale(1.05);
    transform: translateY(-10px);
    background-color: rgba(255, 255, 255, 0.8);
}

.categ-header{
    display: flex;
    color: white;
    justify-content: flex-start;
    margin: 14px;
    font-family: cursive;
    font-size: 40px;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    height: 200px;
    background-color: #F3BCC8;
}

.quote-text{
    font-size: 36px;
    text-align: center;
    font-style: italic;
    font-weight: 200;
}

.quote-auth{
    margin-left: auto;
    font-size: 24px;
    margin-right: 24px;
}

.ad{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
}
.ad-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 200px;
    margin: 24px;
    border-radius: 10px;
    background-color: #5e6cff;
    width: 60%;
    padding: 10px;
}

.ad-header{
    font-size: 32px;
    color: white;
}

.ad-text{
    flex: 2;
    padding:10px
}

.ad-subtext{
    font-size: 16px;
    color: white;
}

.ad-block button{
    border: solid #1F2937 2px;
}

.ad-btn{
    flex: 1;
    display: flex;
    justify-content: center;
}

@media(max-width:600px){
    .banner{
        flex-direction: column;
    }
    .banner-text{
        max-width: max-content;
    }
    .banner-image{
        width: 90%;
    }
    .categ-cards{
        flex-direction: column;
    }
    .ad-block{
        flex-direction: column;
    }
}